@import "src/assets/scss/partials/extras";

picture {
  display: block;
  width: 100%;
  height: 234px;
  border-radius: $app-border-radius;
  overflow: hidden;
}
picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
picture .image-error-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  z-index: 10;
}
