<picture>
  @if (imageError) {
    <div class="image-error-container">
      <mat-error class="mat-headline-5">Something went wrong with the image</mat-error>
    </div>
  }

  @if (imageFormControl.value) {
    <img fill priority alt="Project image"
         [ngSrc]="imageFormControl.value | safe:'resourceUrl'"
         (error)="imageError=$event" />
  }
</picture>

<div class="flex-row justify-content-center app-gap">
  <button mat-button type="button" color="primary"
          [disabled]="loading" (click)="inputElement.click()">
    <mat-icon class="material-icons-outlined" fontIcon="edit" /> {{imageFormControl.value ? 'Change' : 'Upload'}}
  </button>

  <button mat-button type="button" color="primary"
          [disabled]="loading || !imageFormControl.value" (click)="imageFormControl.reset(null)">
    <mat-icon class="material-icons-outlined" fontIcon="delete" /> Remove
  </button>
</div>

<!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
<input #inputElement class="display-none" type="file" autocomplete="off" tabindex="-1" [accept]="allowedFileTypes.join(',')" (change)="onFileUpload($event)" />
