<ng-container *ngIf="comment">
  <div class="flex-row app-gap">
    <aj-user-photo [user]="author"></aj-user-photo>

    <div>
      <div class="flex-row align-items-center">
        <div class="flex-col">
          <span class="truncate-text">{{author?.displayName ?? this.comment.user.id}}</span>
          <small>{{comment.created ? (comment.created.seconds * 1000 | dateAgo) : ''}}</small>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="commentOptionsMenu">
          <mat-icon class="material-icons-outlined" fontIcon="more_vert"></mat-icon>
        </button>
        <mat-menu #commentOptionsMenu="matMenu">
          <button mat-menu-item (click)="onReport()" [disabled]="reported">
            <mat-icon class="material-icons-outlined" fontIcon="flag"></mat-icon> {{reported ? 'Reported' : 'Report'}}
          </button>
        </mat-menu>
      </div>
      <p>{{comment.content}}</p>
      <div class="flex-row align-items-center">
        <button mat-icon-button (click)="onLikeComment()" [color]="likesComment ? 'primary' : undefined">
          <!-- fixme: find better way to fill material icons -->
          <mat-icon [ngClass]="{'material-icons-outlined': !likesComment}" fontIcon="thumb_up"></mat-icon>
        </button>
        <small *ngIf="comment?.likes?.length">{{comment.likes?.length}}</small>
        <button mat-icon-button (click)="onDislikeComment()" [color]="dislikesComment ? 'primary' : undefined">
          <mat-icon [ngClass]="{'material-icons-outlined': !dislikesComment}" fontIcon="thumb_down"></mat-icon>
        </button>
        <!--            <button mat-icon-button>-->
        <!--              <mat-icon class="material-icons-outlined" fontIcon="favorite_outline"></mat-icon>-->
        <!--            </button>-->
        <!--            <button mat-button>Reply</button>-->
        <!-- todo: add reply to comment feature-->
      </div>
    </div>
  </div>
</ng-container>
