<div class="header">
  <span class="mat-headline-6 m-0">Comments</span>

  <button mat-icon-button mat-dialog-close>
    <mat-icon class="material-icons-outlined" fontIcon="close"></mat-icon>
  </button>
</div>

<ng-container *ngIf="comments$ | async as comments else loading">
  <div class="flex-row justify-space-between">
    <h3>{{comments?.length ?? 0}} {{(comments?.length ?? 0) === 1 ? 'Comment' : 'Comments'}}</h3>

    <!-- todo: add feature for sorting comments -->
    <button mat-button disabled>
      <mat-icon class="material-icons-outlined" fontIcon="sort"></mat-icon>
      Sort by
    </button>
  </div>

  <!-- Add Comment Container -->
  <ng-container *ngIf="{user: user$ | async} as auth">
    <div class="flex-row app-gap align-items-center add-comment-container">
      <aj-user-photo [user]="auth.user"
                     (click)="onPhotoClick()"
                     [style.cursor]="'pointer'"
                     (mouseenter)="el.dim = true"
                     (mouseleave)="el.dim = false" #el></aj-user-photo>
      <mat-form-field class="w-100">
        <textarea matInput rows="1" placeholder="Add a comment..." [formControl]="commentFormControl" (focus)="focusCommentInputContainer(auth.user)" #commentInput></textarea>
      </mat-form-field>
    </div>
    <div *ngIf="commentInputContainerInFocus" class="align-self-flex-end">
      <button mat-button (click)="onCancelComment()">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="commentFormControl.invalid" (click)="addComment(auth.user)">Comment</button>
    </div>


    <div class="comments-container">
      <aj-comment *ngFor="let comment of comments" [comment]="comment" [user]="auth.user" [dialogRef]="dialogRef"></aj-comment>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <aj-loading />
</ng-template>
