rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Deny everything that is not specifically allowed
    match /{document=**} { allow read, write: if false; }

    // functions
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && request.auth.token.admin == true; }
    function hasRsc(rsc) { return rsc != null }
    function hasRequestRsc() { return request.resource != null }
    function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return hasRequestRsc() && request.resource.data.keys().hasAll(required) && request.resource.data.keys().hasOnly(allAllowedFields);
    }

    // projects collection
    match /projects/{projectID} {
      // project functions
      function getRole(rsc) { return rsc.data.roles[request.auth.uid]; }
      function isOneOfRoles(rsc, array) { return isSignedIn() && hasRsc(rsc) && (getRole(rsc) in array); }
      function isNotDraft(rsc) { return hasRsc(rsc) && rsc.data.status != 'draft'; }
      function isPublic(rsc) { return hasRsc(rsc) && rsc.data.visibility == 'public'; }
      function isCommentsEnabled(rsc) { return hasRsc(rsc) && rsc.data.allowComments == true; }

      allow read: if isAdmin() || isOneOfRoles(resource, ['owner', 'writer', 'reader']) || isPublic(resource) && isNotDraft(resource);
      allow create, update: if isAdmin() && isOneOfRoles(request.resource, ['owner']);
      allow delete: if isAdmin() && isOneOfRoles(resource, ['owner']);

      // project shards collection
      match /shards/{shardID} {
        allow read, write;
      }

      // project comments collection
      match /comments/{commentID} {
        // comment functions
        function isValidComment() { return hasRequestRsc() && request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid); }
        function projectRsc() {
          let project = get(/databases/$(database)/documents/projects/$(projectID));
          return project;
        }

        allow create: if isValidComment() && isCommentsEnabled(projectRsc()) && isPublic(get(/databases/$(database)/documents/projects/$(projectID)));
        allow update: if isCommentsEnabled(projectRsc()) && isPublic(projectRsc()) && (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes', 'dislikes', 'updated']));
        allow read: if isCommentsEnabled(projectRsc()) && isPublic(projectRsc()) || isOneOfRoles(projectRsc(), ["owner", "writer", "reader"]);
        allow delete: if isValidComment() || isAdmin();
      }
    }

    // tags collection
    match /tags/{tagID} {
      allow read;
      allow write: if isAdmin();
    }

    // users
    match /users/{uid} {
      // users functions
      function isValidUpdate() { return hasRequestRsc() && (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['reported', 'following', 'updated'])); }

      allow read: if isSignedIn() && request.auth.uid == uid || isAdmin();
      allow update: if isSignedIn() && request.auth.uid == uid && isValidUpdate();
    }

    // contact
    match /contact/{contactID} {
      allow read: if isAdmin();
      allow create: if verifyFields(['name', 'company', 'email', 'message', 'created'], []);
    }

    // mail
    match /mail/{mailID} {
      allow read: if isAdmin();
      allow create: if verifyFields(['message'], ['template', 'to', 'toUids', 'cc', 'ccUids', 'bcc', 'bccUids', 'from', 'replyTo', 'headers', 'attachments']);
    }

    // reports
    match /reports/{reportID} {
      // reports functions
      function isValidReport() { return hasRequestRsc() && request.resource.data.by == /databases/$(database)/documents/users/$(request.auth.uid) }

      allow create: if isValidReport() && verifyFields(['created', 'by', 'reason', 'document'], ['updated']);
      allow read: if isAdmin();
    }
  }
}