<div class="cards">
  @if (items.length) {
    @for (item of items; track item.name) {
      <mat-card class="card" [routerLink]="item.routerLink">
        <mat-card-title>{{item.name}}</mat-card-title>
        @if (item.description) {
          <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        }
      </mat-card>
    }
  } @else {
    <div class="card">
      <h2 class="word-wrap">No {{itemsName}} yet.</h2>
      @if (emptyText) {
        <p class="word-wrap">{{emptyText}}</p>
      }
    </div>
  }
</div>
