@import "../../../../assets/scss/partials/extras";

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: $app-gap;
}
.cards .card {
  cursor: pointer;
  flex: 1 auto;
  padding: $app-padding;
  border-radius: $app-border-radius;
}
