@import "../../../../assets/scss/partials/extras";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
  padding: $app-header-height $app-padding 0;
  height: inherit;
  justify-content: center;

  min-width: $app-navigation-drawer-width;
  width: $app-navigation-drawer-width;
}

button.mdc-button.mat-mdc-button {
  padding: $app-padding;
  height: 56px;
  justify-content: flex-start;
  border-radius: calc(#{$app-border-radius} * 2)!important;
}
