@import 'src/assets/scss/partials/media_queries';

@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$page-padding: 1rem;
:host {
  @include flex-col();
  padding: $page-padding;
  height: calc(100% - calc($page-padding * 2));

  background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 0.44),
      rgba(26, 26, 26, 0.44)
  ), url("../../../../assets/imgs/textured-background.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  overflow: auto;
}

/* Header */
header {
  @include flex-col();
  gap: 1rem;
  align-items: center;
}
header a:first-child { font-size: 12vw; }
$size: 14vw;
header a.github {
  padding: 0;
  width: $size;
  height: $size;
  font-size: $size;
  mat-icon {
    display: flex;
    width: $size;
    height: $size;
    font-size: $size;
  }
}
::ng-deep header a.github.mat-mdc-icon-button svg {
  width: $size;
  height: $size;
  font-size: $size;
}

/* Main */
main {
  @include flex-col();
  gap: 3rem;
  margin: 4rem 0 2rem;
  text-align: center;
  font-size: 14vw;

  @include select-none();
}
main div.text {
  @include flex-col();
}
main div.text .period mat-icon {
  $size: 5vw;
  width: $size;
  height: $size;
  font-size: $size;
}
main form.subscribe {
  @include flex-col();
  align-items: center;
}
main form.subscribe mat-form-field {
  width: 100%;
  font-size: 5vw;
  max-width: 600px;
}
::ng-deep main form.subscribe mat-form-field  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep main form.subscribe mat-form-field  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep main form.subscribe mat-form-field  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;

  border-bottom-width: 6px;
}
main form.subscribe button {
  border-width: 6px;
  border-radius: 0.5rem;

  font-size: 5vw;
  padding: 5vw 5.5vw;
}

/* Thanks */
main div.thanks h1 {
  font-size: 10vw;
}
main div.thanks p {
  font-size: 6vw;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: calc(100% - calc($page-padding * 2));

  @include select-none();
}

@media (min-width: $small) {
  /* Header */
  header a:first-child { font-size: 64px; }
  $size: 100px;
  header a.github {
    padding: 0;
    width: $size;
    height: $size;
    font-size: $size;
    mat-icon {
      display: flex;
      width: $size;
      height: $size;
      font-size: $size;
    }
  }
  ::ng-deep header a.github.mat-mdc-icon-button svg {
    width: $size;
    height: $size;
    font-size: $size;
  }
  /* Main */
  main { font-size: calc(4rem + 2vw); }
  main div.text .period mat-icon {
    $size: 32px;
    width: $size;
    height: $size;
    font-size: $size;
  }
  main form.subscribe mat-form-field { font-size: 2rem; }
  main form.subscribe button {
    font-size: 1.5rem;
    padding: 1.5rem 1.75rem;
  }
  /* Thanks */
  main div.thanks h1 {
    font-size: calc(2.75rem + 1.375vw);
  }
  main div.thanks p {
    font-size: calc(1.75rem + 0.875vw);
  }
}
/* Min Medium Screen Size */
@media (min-width: $medium) {
  header {
    @include flex-row();
    justify-content: space-between;
  }
  main form.subscribe {
    @include flex-row();
    justify-content: center;
    gap: 3rem;
  }
}
@media (min-width: $large) {
  main div.text .period mat-icon {
    $size: 40px;
    width: $size;
    height: $size;
    font-size: $size;
  }
}
