<header>
  <a class="name" [routerLink]="[nav_path.home]">{{name}}</a>

  <a mat-icon-button class="github" [href]="github" target="_blank">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</header>

<main>
  <div class="text">
    <span class="launching">LAUNCHING</span>
    <span>VERY SOON<span class="period"><mat-icon fontIcon="circle" color="accent"></mat-icon></span></span>
  </div>
  <form class="subscribe">
    <mat-form-field appearance="outline" color="accent" class="email-field" floatLabel="auto">
      <input matInput type="email" id="email" name="email" autocomplete="off" placeholder="ENTER EMAIL ADDRESS" />
    </mat-form-field>
    <button mat-stroked-button type="submit">SUBSCRIBE</button>
  </form>
</main>

<footer>
  <small class="name">&copy; {{name}} {{currentYear}}</small>
</footer>
