@mixin flex-col {
  display: flex;
  flex-direction: column;
}

$page-padding: 2rem;
:host {
  @include flex-col();
  padding: $page-padding;
  height: calc(100% - calc($page-padding * 2));

  background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 0.44),
      rgba(26, 26, 26, 0.44)
  ), url("../../../../assets/imgs/textured-background.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
/* Header */
header {
  @include flex-col();
  gap: 1rem;
  align-items: center;
}
header .name {
  font-size: 64px;
}
header .github {
  $size: 100px;
  width: $size;
  height: $size;
  font-size: $size;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: calc(100% - calc($page-padding * 2));
}
