<mat-toolbar>
  <div class="flex-row app-gap align-items-center">
    <button mat-icon-button color="primary" class="back-btn" type="button"
            [style.visibility]="showBackBtn ? 'visible' : 'hidden'" (click)="location.back()" [disabled]="loading">
      <mat-icon class="material-icons-outlined" fontIcon="arrow_back"></mat-icon>
    </button>

    <h1>{{title}}</h1>
  </div>

  <ng-container *ngIf="actionButton; else showAuthBtns">
    <button mat-flat-button [color]="actionButton.color"
            [routerLink]="actionButton.routerLink"
            (click)="(actionButton.click == undefined) ? $event : actionButton.click($event)" [disabled]="actionButton.disabled">
      <mat-icon *ngIf="actionButton.icon" class="material-icons-outlined" [fontIcon]="actionButton.icon"></mat-icon>{{actionButton.text}}
    </button>
  </ng-container>
  <ng-template #showAuthBtns>
    <ng-container *ngIf="auth.user$ | async; else notSignedIn">
      <button mat-button (click)="auth.logout()" [disabled]="loading">
        <mat-icon fontIcon="logout"></mat-icon>
        Sign out
      </button>
    </ng-container>
    <ng-template #notSignedIn>
      <button mat-button [routerLink]="[nav_path.signIn]" [disabled]="loading">
        <mat-icon fontIcon="login"></mat-icon>
        Sign in
      </button>
    </ng-template>
  </ng-template>
</mat-toolbar>
