<mat-toolbar>
  <div class="flex-row app-gap align-items-center">
    <button mat-icon-button color="primary" class="back-btn" type="button"
            [ngClass]="{'hidden': !showBackBtn}"
            [disabled]="loading"
            (click)="location.back()">
      <mat-icon class="material-icons-outlined" fontIcon="arrow_back" />
    </button>

    <h1 class="mat-body-1 m-0">{{title}}</h1>
  </div>

  <div #content>
    <ng-content />
  </div>

  @if (!content.children.length) {
    @if (auth.user$ | async) {
      <button mat-button type="button"
              [disabled]="loading"
              (click)="auth.logout()">
        <mat-icon fontIcon="logout" />
        Sign out
      </button>
    } @else {
      <button mat-button type="button"
              [routerLink]="[nav_path.signIn]"
              [disabled]="loading">
        <mat-icon fontIcon="login" />
        Sign in
      </button>
    }
  }
</mat-toolbar>
