<mat-toolbar>
  <div class="flex-row app-gap align-items-center">
    @if (showBackBtn) {
      <button mat-icon-button color="primary" class="back-btn" type="button"
              [disabled]="loading" [@slideInFromLeftAnimation]
              (click)="onBackBtnClick()">
        <mat-icon class="material-icons-outlined" fontIcon="arrow_back" />
      </button>
    } @else {
      <h1 class="mat-headline-5 m-0 truncate-text"
          [title]="title" [@fadeInAnimation]>{{title}}</h1>
    }
  </div>

  <div #content>
    <ng-content />
  </div>

  @if (!content.children.length) {
<!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    @if (user()) {
      <button mat-button type="button"
              [disabled]="loading"
              (click)="onSignOutBtnClick()">
        <mat-icon fontIcon="logout" />
        Sign out
      </button>
    } @else {
      <button mat-button type="button"
              [disabled]="loading"
              (click)="onSignInBtnClick()">
        <mat-icon fontIcon="login" />
        Sign in
      </button>
    }
  }
</mat-toolbar>
