<!-- eslint-disable @angular-eslint/template/no-call-expression -->
@if (isBrowser()) {
  @defer (when loaded()) {
    <ng-template [ngTemplateOutlet]="unnamedTmpl" />
  } @placeholder (minimum 500ms) {
    <ng-template [ngTemplateOutlet]="projectPlaceholderTmpl" />
  } @error {
    <ng-template [ngTemplateOutlet]="errorTmpl" />
  }
} @else {
  <ng-template [ngTemplateOutlet]="unnamedTmpl" />
}

<ng-template #unnamedTmpl>
  @switch (projectFetchStatus()) {
    @case (FetchStatus.PENDING || FetchStatus.LOADING) {
      <ng-template [ngTemplateOutlet]="projectPlaceholderTmpl" />
    }
    @case (FetchStatus.SUCCESS) {
      <ng-template [ngTemplateOutlet]="projectTmpl" />
    }
    @case (FetchStatus.ERROR) {
      <ng-template [ngTemplateOutlet]="notFoundTmpl" />
    }
  }
</ng-template>

<ng-template #projectTmpl>
  <div class="article-container">
    <article class="flex-col app-gap">
      @if (project()?.image) {
        <picture>
          <img fill priority class="project-image"
               [ngSrc]="project()?.image ?? ''" [alt]="project.name" />
        </picture>
      }
      <div class="flex-col app-gap content">
        <h1 class="mat-headline-4 m-0">{{project()?.name}}{{project()?.status === ProjectStatus.DRAFT ? ' (draft)' : ''}}</h1>
        <small>{{project()?.views ?? 0}} {{project()?.views === 1 ? 'view' : 'views'}} - {{(project()?.created?.seconds ?? 0) * 1000 | date}}</small>
        <div class="author-follow-container">
          <div class="flex-row align-items-center app-gap">
            <aj-user-photo [image]="project()?.author?.image" />
            <div class="flex-col justify-content-center">
              <h3 class="mat-headline-6 m-0">{{project()?.author?.name}}</h3>
              <!-- todo: fix followers -->
              <small class="followers">15.1K followers</small>
            </div>
          </div>
          @switch (user()?.following) {
            @case (false || undefined) {
              <button mat-flat-button type="button"
                      color="primary" class="follow-btn"
                      (click)="updateFollowingStatus()">
                Follow
              </button>
            }
            @case (true) {
              <button mat-button type="button"
                      color="primary" class="follow-btn"
                      (click)="updateFollowingStatus()">
                Unfollow
              </button>
            }
          }
        </div>
        <p class="mat-body-2">{{project()?.description}}</p>
        <mat-divider />
        <p class="ck-content" [innerHTML]="project()?.content"></p>
      </div>
    </article>
  </div>

  <div class="support-panel-container">
    <div id="comments"></div>
    <div id="related-projects"></div>
    <mat-tab-group color="primary" [fitInkBarToContent]="true">
      <!-- Comments -->
      <mat-tab label="Comments">
        <ng-template matTabContent>
          @if (project()?.allowComments) {
            <button mat-button type="button" (click)="openComments()">
              <mat-icon class="material-icons-outlined" fontIcon="add" /> Comment
            </button>
            <div class="comments-container">
              @for (comment of commentsSignal$() | async; track comment.id) {
                <aj-project-detail-comment [comment]="comment"
                                           (openComments)="openComments()" />
              } @empty {
                <h3 class="mat-headline-6 m-0">No comments.</h3>
              }
            </div>
          } @else {
            <h3 class="mat-headline-6 m-0">Comments are turned off.</h3>
          }
        </ng-template>
      </mat-tab>

      <!-- Related Projects -->
      <mat-tab label="Related">
        <ng-template matTabContent>
          <div class="related-projects-container">
            @if (relatedProjectsSignal$() | async; as relatedProjects) {
              @for (relatedProject of relatedProjects; track relatedProject.id) {
                <div class="related-project" [routerLink]="[navPath.projects, relatedProject.slug]">
                  @if (relatedProject.image) {
                    <picture>
                      <img fill priority
                           [ngSrc]="relatedProject.image"
                           [alt]="relatedProject.name" />
                    </picture>
                  }
                  <span class="name">{{relatedProject.name}}</span>
                </div>
              } @empty {
                <h3 class="mat-headline-6 m-0">No related projects.</h3>
              }
            }
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  @if (isOwner()) {
    <button mat-fab type="button" color="accent" class="edit-btn"
            [routerLink]="[navPath.adminProjects, project()?.slug, 'edit']">
      <mat-icon class="material-icons-outlined" fontIcon="edit" />
    </button>
  }
</ng-template>

<ng-template #projectPlaceholderTmpl>
  <div class="article-container">
    <article class="flex-col app-gap">
      <picture>
        <aj-skeleton [styles]="{width: '600px', height: '300px'}" />
      </picture>

      <div class="flex-col app-gap content">
        <h1 class="mat-headline-4 m-0">
          <aj-skeleton [styles]="{height: '40px'}" />
        </h1>

        <small><aj-skeleton [styles]="{width: '200px'}" /></small>

        <div class="author-follow-container">
          <div class="flex-row align-items-center app-gap">
            <aj-skeleton appearance="circle"
                         [styles]="{width: '50px', height: '50px'}" />

            <div class="flex-col justify-content-center">
              <h3 class="mat-headline-6 m-0">
                <aj-skeleton [styles]="{width: '200px', height: '32px'}" />
              </h3>
              <small class="followers">
                <aj-skeleton [styles]="{width: '130px'}" />
              </small>
            </div>
          </div>

          <aj-skeleton [styles]="{height: '36px', minWidth: '120px'}" />
        </div>

        <p class="mat-body-2">
          <aj-skeleton />
          <aj-skeleton [styles]="{width: '130px'}" />
        </p>

        <mat-divider />

        <p class="ck-content">
          <aj-skeleton [styles]="{width: '50%', height: '30px'}" />
          <aj-skeleton />
          <aj-skeleton />
          <aj-skeleton />
          <aj-skeleton [styles]="{width: '80%'}" />

          <br />
          <br />

          <aj-skeleton />
          <aj-skeleton />
          <aj-skeleton />
          <aj-skeleton [styles]="{width: '80%'}" />
        </p>
      </div>
    </article>
  </div>
</ng-template>

<ng-template #notFoundTmpl>
  <div class="not-found-container text-center">
    <p class="mat-headline-5">
      We couldn't find the project you were looking for. This is either because:
    </p>
    <ul class="mat-headline-6">
      <li>You do not have permission to view this project.</li>
      <li>The project you are looking for has been moved or deleted.</li>
      <li>
        There is an error in the URL entered into your web browser.
        Please check the URL and try again.
      </li>
    </ul>
    <button mat-fab extended type="button" color="primary"
            class="fab-btn-padding" [routerLink]="[navPath.home]">
      <mat-icon fontIcon="home" class="material-icons-outlined" />
      Go Home
    </button>
  </div>
</ng-template>

<ng-template #errorTmpl>
  <div class="error-container text-center">
    <p class="mat-headline-5">
      Something went wrong loading the project you were looking for.
      Please try again.
    </p>
    <button mat-fab extended type="button" color="primary"
            class="fab-btn-padding" (click)="onTryLoadAgain()">
      <mat-icon fontIcon="refresh" class="material-icons-outlined" />
      Try again
    </button>
  </div>
</ng-template>
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
