@import "../../../../assets/scss/partials/extras";

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#mainContent {
  overflow: auto;
  padding-bottom: $app-navigation-bar-height;
}

aj-navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
