@if ({isTabletPortrait: isTabletPortrait$ | async, isDesktopExpanded: isDesktopExpanded$ | async}; as aside) {
  <!-- Side Navigation Rail -->
  @if (aside.isTabletPortrait && !aside.isDesktopExpanded) {
    <aj-navigation-rail [@slideInFromLeftAnimation] [segments]="segments" />
  }

  <!-- Side Navigation Drawer -->
  @if (aside.isDesktopExpanded) {
    <aj-navigation-drawer [@slideInFromLeftAnimation] [segments]="segments" />
  }
}

<!-- Main Content -->
<div id="mainContent" class="flex-col overflow-auto flex-grow"
     (scroll)="onContentScroll($event)">
  <!-- Header -->
  <aj-top-app-bar [title]="title" />

  <!-- Content -->
  <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
  <main class="page-padding flex-col">
    <router-outlet />
  </main>

  <!-- Bottom Navigation Bar -->
  <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
  @if (showBottomBar()) {
    <aj-navigation-bar [@slideInFromBottomAnimation] [segments]="segments" />
  }
</div>
