<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true" *ngIf="isTabletPortrait$ | async">
    <aj-navigation-rail [segments]="segments"></aj-navigation-rail>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div>
        <h1 class="mat-headline-6 m-0">{{title}}</h1>
      </div>

      <ng-container *ngIf="auth.user$ | async; else notSignedIn">
        <button mat-button (click)="auth.logout()">
          <mat-icon fontIcon="logout"></mat-icon>
          Sign out
        </button>
      </ng-container>
      <ng-template #notSignedIn>
        <button mat-button [routerLink]="[nav_path.signIn]">
          <mat-icon fontIcon="login"></mat-icon>
          Sign in
        </button>
      </ng-template>
    </mat-toolbar>

    <main class="page-padding"><router-outlet></router-outlet></main>

    <aj-navigation-bar *ngIf="isMobile$ | async" [segments]="segments"></aj-navigation-bar>
  </mat-sidenav-content>
</mat-sidenav-container>
