<ng-container *ngIf="comment">
  <div class="flex-row app-gap">
    <aj-user-photo [image]="this.comment.author.image" [size]="40"></aj-user-photo>
    <div class="flex-col truncate-text">
      <span class="truncate-text">{{this.comment.author.name ?? comment.user.id}}</span>
      <small>{{comment.created ? (comment.created.seconds * 1000 | dateAgo) : ''}}</small>
    </div>
  </div>

  <div class="flex-row align-items-center">
    <p class="message">{{comment.content}}</p>
    <button mat-icon-button color="accent" (click)="openComments.emit()">
      <mat-icon class="material-icons-outlined" fontIcon="comment"></mat-icon>
    </button>
  </div>
</ng-container>
