@import "src/assets/scss/partials/mixins";
@import "src/assets/scss/partials/extras";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
  padding: $app-spacing;
  border-radius: $app-shape-corner-radius;
}
div .message { @include truncateText(2); }
