<h1 class="mat-headline-3">Account Details</h1>

<form [formGroup]="editAccountForm">
  <!-- Image -->
  <section class="profile-picture-container">
    <aj-photo-upload *ngIf="this.user" [user]="this.user"></aj-photo-upload>
  </section>

  <!-- Name -->
  <div class="name">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input id="displayName" formControlName="displayName" matInput type="text"
             name="displayName" autocomplete="name" placeholder="Display Name" />
      <button *ngIf="displayName.disabled" matSuffix mat-icon-button aria-label="Edit display name"
              (click)="displayName.enable()" [disabled]="loading">
        <mat-icon class="material-icons-outlined" fontIcon="edit"></mat-icon>
      </button>
      <mat-error *ngIf="displayName?.errors?.['required']">Display name is <strong>required</strong>.</mat-error>
    </mat-form-field>

    <div class="flex-row justify-content-center app-gap" *ngIf="displayName.enabled">
      <button mat-button color="primary"
              (click)="displayName.setValue(this.profile.displayName ?? '');displayName.disable()"
              [disabled]="loading">
        <mat-icon class="material-icons-outlined" fontIcon="cancel"></mat-icon> Cancel
      </button>
      <button mat-flat-button color="primary" (click)="saveDisplayName()" [disabled]="loading || displayName.invalid">
        <mat-icon fontIcon="save"></mat-icon> {{loading ? 'Updating' : 'Save'}}
      </button>
    </div>
  </div>

  <!-- Email -->
  <div class="email">
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" type="email" id="email" name="email" autocomplete="email"
             placeholder="Email Address" />
      <button *ngIf="email.disabled" matSuffix mat-icon-button aria-label="Edit email" (click)="editEmail()">
        <mat-icon class="material-icons-outlined" fontIcon="edit"></mat-icon>
      </button>
      <mat-error *ngIf="email?.errors?.['required']">Email address is <strong>required</strong>.</mat-error>
      <mat-error *ngIf="email?.errors?.['email']">Please enter a valid email address.</mat-error>
    </mat-form-field>
  </div>
</form>
