<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<mat-card class="card">
  <div class="info-container mat-body-1 m-0">
    <a class="mat-headline-5 m-0 project-name"
       [routerLink]="[navPath.projectDetail(project()?.id || '')]">
      {{project()?.name}}
    </a>

    <p class="mat-body-1 m-0">{{project()?.description}}</p>

    @if (project()?.technologies?.length) {
      <aj-project-technologies [technologies]="project()?.technologies || []" />
    }

    @if (project()?.tags?.length) {
      <aj-project-tags [tags]="project()?.tags || []" />
    }

    <mat-divider />

    <mat-card-actions class="actions-container">
      <button mat-flat-button type="button" color="primary"
              (click)="shareProject.emit(project())">
        <mat-icon class="material-icons-outlined" fontIcon="share" /> Share
      </button>

      @if (viewLinks().length > 1) {
        <button mat-button type="button" color="primary"
                [matMenuTriggerFor]="viewMenu">
          <span class="flex-row align-items-center">
            <span>View</span>

            <mat-icon fontIcon="arrow_drop_down" />
          </span>
        </button>
      } @else {
        <button mat-button type="button" color="primary"
                [routerLink]="[navPath.projectDetail(project()?.id || '')]">
          View Project
        </button>
      }
    </mat-card-actions>
  </div>
</mat-card>

<mat-menu #viewMenu="matMenu">
  @for (viewLink of viewLinks(); track viewLink.id) {
    @if (viewLink.href) {
      <a mat-menu-item type="button" target="_blank" [href]="viewLink.href">
        <mat-icon class="material-icons-outlined" [fontIcon]="viewLink.icon" />
        {{viewLink.name}}
      </a>
    } @else {
      <button mat-menu-item type="button" [routerLink]="viewLink.routerLink">
        <mat-icon class="material-icons-outlined" [fontIcon]="viewLink.icon" />
        {{viewLink.name}}
      </button>
    }
  }
</mat-menu>
<!-- eslint-enable @angular-eslint/template/no-call-expression -->