@import "../../../../../assets/scss/partials/extras";

:host {
  display: block;
  height: 100vh;
}

main {
  display: block;
  height: calc(100vh - #{$app-header-height} - #{$app-navigation-bar-height});
  overflow: auto;
}
