@import "../../../../../assets/scss/partials/extras";
@import "../../../../../assets/scss/partials/animations";

:host {
  display: flex;
  flex-direction: column;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $app-gap;
}
.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  transition: all $emphasizedDecelerate;
  border-radius: $app-border-radius;
  cursor: pointer;
}