@import '../../../../assets/scss/partials/extras';

:host {
  display: flex;
  border: 1px solid;
  padding: calc(#{$app-padding} / 2) $app-padding;
  gap: calc(#{$app-gap} / 2);
  overflow-x: auto;
}

.item {
  border: 1px solid;
  overflow: hidden;
  min-width: 40px;
  flex: 0 1 40px;
  transition: flex 0.5s ease;
  position: relative;
}

.item.active {
  flex: 1;
}

.item .image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.item .name {
  position: absolute;
  bottom: $app-padding;
  left: $app-padding;
}