@if (items$ | async; as items) {
  <div class="card mat-elevation-z2">
    <input #inputUpload multiple class="inputUpload"
           type="file" autocomplete="off" tabindex="-1"
           (change)="onFilesSelect($event)" />
    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    @if (selection.isEmpty()) {
      <header class="header">
        <!-- Crumbs -->
        <span class="crumbs">
          <button mat-icon-button type="button"
                  [disabled]="currentPath===''"
                  (click)="setStoragePath('')">
            <mat-icon fontIcon="home" />
          </button>
          <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
          @for (crumb of currentPath.split('/'); track crumb;let i=$index; let last=$last) {
            @if (currentPath!=='') {
              <mat-icon class="overflow-visible" fontIcon="chevron_right" />
            }
            <button mat-button type="button" [disabled]="last"
                    (click)="setStoragePath(getCrumbPath(currentPath.split('/'), i))">
              {{crumb}}
            </button>
          }
        </span>

        <button mat-icon-button type="button" (click)="reload()">
          <mat-icon fontIcon="refresh" />
        </button>
        <button mat-icon-button type="button" (click)="createNewFolder()">
          <mat-icon fontIcon="create_new_folder" />
        </button>
        <div>
          <button mat-flat-button type="button" color="primary"
                  (click)="inputUpload.click()">Upload</button>
        </div>
      </header>
    } @else {
      <header class="header items-selected">
        <button mat-icon-button type="button" (click)="selection.clear()">
          <mat-icon fontIcon="close" />
        </button>
        <span>{{selection.selected.length}} {{selection.selected.length === 1 ? 'item' : 'items'}}</span>
        <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
        <button mat-raised-button type="button" color="accent" [disabled]="selectionIncludesFolder()"
                (click)="openAllFiles(selection.selected)">Open all files</button>
        <button mat-stroked-button type="button"
                (click)="deleteItems(selection.selected)">Delete</button>
      </header>
    }

    <div class="content">
      <div class="table-sidebar">
        <div class="table-wrapper" [className]="selectedFile ? 'grid-column-end-span-8' : 'grid-column-end-span-12'">
          <table mat-table [dataSource]="items">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
              <th *matHeaderCellDef mat-header-cell class="checkbox-column">
                <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
                <mat-checkbox [checked]="allItemsSelected(items)" [indeterminate]="allItemsIndeterminate(items)"
                              [disabled]="items.length === 0"
                              (change)="toggleAllItems($event.checked, items)" />
              </th>
              <td *matCellDef="let item" mat-cell class="checkbox-column">
                <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
                <mat-checkbox [checked]="selection.isSelected(item)"
                              (click)="$event.stopPropagation()"
                              (change)="selection.toggle(item)" />
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell> Name </th>
              <td *matCellDef="let item" mat-cell class="name-column">
                <aj-storage-item-icon [type]="item.type" [contentType]="item.contentType" />
                <span>{{item.name}}</span>
              </td>
            </ng-container>

            <!-- Size Column -->
            <ng-container matColumnDef="size">
              <th *matHeaderCellDef mat-header-cell> Size </th>
              <td *matCellDef="let item" mat-cell>
                {{item.type === 'folder' ? '&mdash;' : item.size | formatBytes}}
              </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th *matHeaderCellDef mat-header-cell> Type </th>
              <td *matCellDef="let item" mat-cell>
                {{item.type === 'folder' ? 'Folder' : item.contentType}}
              </td>
            </ng-container>

            <!-- Last Modified Column -->
            <ng-container matColumnDef="lastModified">
              <th *matHeaderCellDef mat-header-cell> Last Modified </th>
              <td *matCellDef="let item" mat-cell>
                {{item.type === 'folder' ? '&mdash;' : item.updated | date}}
              </td>
            </ng-container>

            <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
            <tr *matRowDef="let item; columns: tableColumns;" mat-row
                [class.selected]="selectedFile === item"
                (click)="storageItemSelected(item)"></tr>
          </table>
        </div>

        @if (selectedFile) {
          <aside class="sidebar grid-column-end-span-4">
            <aj-storage-file-preview [item]="selectedFile" (_close)="selectedFile = undefined" />
          </aside>
        }
      </div>

      @if (!items.length) {
        <div ajFileDropzone class="empty-folder"
             hoverClass="hovering" tabindex="0"
             (click)="inputUpload.click()"
             (keyup)="inputUpload.click()"
             (dropped)="uploadItems($event)">
          <div>No files found</div>
          <div>Drag and drop files to upload</div>
        </div>
      }
    </div>
  </div>
} @else {
  <aj-loading-or-error [error]="error" />
}
