@import "src/assets/scss/partials/extras";

:host {
  display: block;
  height: 100vh;
}

main {
  display: block;
  height: calc(100vh - #{$app-header-height} - #{$app-navigation-bar-height});
  overflow: auto;
}

button.add-btn {
  position: fixed;
  $navigationBarHeight: 56px;
  bottom: calc(#{$navigationBarHeight} + 1rem);
  right: 1rem;
  z-index: 100;
}
