@import "../../../../../assets/scss/partials/extras";

:host {
  display: flex;
  flex-direction: column;
}

button.add-btn {
  position: fixed;
  bottom: calc(#{$app-navigation-bar-height} + 1rem);
  right: 1rem;
  z-index: 100;
}
