<aj-auth-top-app-bar [title]="title"></aj-auth-top-app-bar>

<main class="page-padding">
  <h2 class="mat-headline-4">Create an account</h2>

  <form [formGroup]="signupForm">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput id="email" type="email" name="email" autocomplete="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" autocomplete="password" formControlName="password"
             [type]="hidePassword ? 'password' : 'text'" />
      <button mat-icon-button matSuffix type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="hidePassword ? 'Show' : 'Hide'+' Password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon [fontIcon]="hidePassword ? 'visibility_off' : 'visibility'"></mat-icon>
      </button>
    </mat-form-field>

    <p>
      By continuing, I agree to {{appInformation.name}}'s
      <a mat-button color="accent" [routerLink]="[nav_path.privacyPolicy]" target="_blank">Privacy Policy</a>
      and
      <a mat-button color="accent" [routerLink]="[nav_path.termsOfUse]" target="_blank">Terms of Use</a>.
    </p>

    <button mat-flat-button color="primary" class="fab-btn-padding" type="submit" [disabled]="true">Create account</button>

    <button mat-stroked-button class="fab-btn-padding" (click)="auth.googleLogin()" type="button" [disabled]="true">
      <span class="flex-row align-items-center gap-1">
        <img class="mat-icon" src="assets/imgs/g-logo.png" alt="Image of Google Icon with a transparent background"
             width="80" height="80" />
        Sign up with Google
      </span>
    </button>

    <p class="text-center">
      Already have an account?
      <a mat-button color="accent" [routerLink]="[nav_path.signIn]">Sign in</a>
    </p>
  </form>
</main>
