<aj-top-app-bar [title]="title" [showBackBtn]="true"></aj-top-app-bar>

<main class="page-padding">
  <ng-container *ngIf="user$ | async as user; else loadingOrError">
    <div class="crumbs">
      <button mat-button [routerLink]="[nav_path.adminUsers]">Users</button>
      <mat-icon fontIcon="chevron_right"></mat-icon>
      <button mat-button disabled>{{user.id}}</button>
    </div>

    <div class="header">
      <h1>{{user?.displayName ?? 'Unknown name'}}</h1>

      <button mat-stroked-button color="accent" (click)="updateAdminRole(user)">
        <mat-icon fontIcon="admin_panel_settings"></mat-icon>
        {{user?.admin === true ? 'Revoke' : 'Grant'}} Admin
      </button>
    </div>

    <section class="info">
      <picture *ngIf="user.photoURL">
        <img [src]="user.photoURL" [alt]="user.displayName ?? user.email + ' photo'" height="200" width="100%" />
      </picture>
      <div class="details">
        <div>
          <h3>Joined</h3>
          <h3>Email Address</h3>
          <h3>Phone Number</h3>
        </div>
        <div>
          <h3>{{user.joined ? (user.joined.seconds * 1000 | date) : 'Unknown date'}}</h3>
          <h3>{{user.email ? user.email : 'Unknown email'}}</h3>
          <h3>{{user.phoneNumber ?? 'Unknown number'}}</h3>
        </div>
      </div>
    </section>

    <!-- todo: add user comments -->
  </ng-container>

  <ng-template #loadingOrError>
    <aj-loading-or-error [error]="error"></aj-loading-or-error>
  </ng-template>
</main>
