:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.crumbs {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.info picture img {
  object-fit: cover;
  border-radius: 1rem;
}

section.info .details {
  overflow: auto;
  display: flex;
  div { flex-basis: 50%; }
  div:first-child { text-align: left; }
  div:last-child { text-align: right; }
}

section.orders mat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.orders mat-list mat-list-item {
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  cursor: pointer;
}
section.orders mat-list mat-list-item .order-image {
  width: 50px !important;
  height: 50px !important;
}
