<section class="header">
  <div class="select-container">
    <mat-checkbox [indeterminate]="someSelected"
                  [checked]="allSelected"
                  (change)="selectAll($event.checked)" />

    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    @if (!selectionModel.isEmpty()) {
      <span>{{selectionModel.selected.length}}</span>
    }

    <button mat-icon-button type="button" [matMenuTriggerFor]="selectMenu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #selectMenu="matMenu">
      @if (!allSelected) {
        <button mat-menu-item type="button" (click)="selectAll(true)">
          Select all projects on this page
        </button>
      }
      <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
      @if (!selectionModel.isEmpty()) {
        <button mat-menu-item type="button" (click)="selectAll(false)">
          Deselect all
        </button>
      }
    </mat-menu>
  </div>

  <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
  @if (!selectionModel.isEmpty()) {
    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    <button mat-stroked-button type="button" [disabled]="selectionModel.isEmpty() || loading"
            (click)="deleteSelectedProjects()">Delete</button>
  }
  <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
  @if (!selectionModel.isEmpty() && allDraftsSelected()) {
    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    <button mat-stroked-button type="button" [disabled]="selectionModel.isEmpty() || !allDraftsSelected() || loading"
            (click)="publishSelectedProjects()">Publish</button>
  }
</section>

<section class="projects">
  @for (project of projects; track project.id) {
    <!-- eslint-disable @angular-eslint/template/no-call-expression -->
    <aj-project-grid-item
        class="project"
        [ngClass]="{'selected': selectionModel.isSelected(project)}"
        [isSelected]="selectionModel.isSelected(project)"
        [project]="project" [loading]="loading"
        (deleteBtnClick)="deleteProject(project.id)"
        (publishBtnClick)="publishProject(project.id)"
        (checkboxToggled)="selectionModel.toggle(project)"
        (featureBtnClick)="updateFeaturedProject(project.id, !project.featured)" />
    <!-- eslint-enable @angular-eslint/template/no-call-expression -->
  }
</section>
