// Classes to reduce redundancy
.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: end; }
.justify-space-between { justify-content: space-between; }
.justify-self-flex-end { justify-self: flex-end; }
.align-self-flex-end { align-self: flex-end; }
.align-items-flex-end { align-items: flex-end; }
.app-gap { gap: $app-gap; }
.text-center { text-align: center; }
.w-100 { width: 100%; }
.h-100 { height: 100%; }
.page-padding { padding: $app-padding; }
.display-none { display: none; }
.overflow-auto { overflow: auto; }
.flex-grow { flex-grow: 1; }
.p-0 { padding: 0 !important; }
.m-0 { margin: 0 !important; }
.display-block { display: block; }
.display-grid { display: grid; }
.margin-top-auto { margin-top: auto; }
.opacity-half {
  opacity: 0.5;
}
.opacity-full, .opacity-1 {
  opacity: 1;
}
.hidden, .visibility-hidden {
  visibility: hidden;
}
.visible, .visibility-visible {
  visibility: visible;
}
