// Material Design palette tool: https://material.io/design/color/the-color-system.html#tools-for-picking-colors

/* contrast colors pulled from @angular/material/core/theming/_palette.scss */
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$aj-blue-palette: (
  50: #e4e8ed,
  100: #bac5d4,
  200: #8ea0b7,
  300: #647c9a,
  400: #426287,
  500: #184977,
  600: #10426f,
  700: #043964,
  800: #003058,
  900: #002040, // primary
  A100: #32476b,
  A200: #8ea0b7,
  A400: #426287,
  A700: #00001b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$aj-gold-palette: (
  50: #f6f0df,
  100: #ead9ae,
  200: #ddc179, // primary
  300: #d1a841,
  400: #cb980a,
  500: #c58700,
  600: #c37d00,
  700: #be6f00,
  800: #b96100,
  900: #b14900,
  A100: #fff4a9,
  A200: #ddc179,
  A400: #cb980a,
  A700: #aa914c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
