@import '../../../../../assets/scss/partials/extras';
@import '../../../../../assets/scss/partials/media_queries';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $app-gap;
  align-self: center;

  @media (min-width: $tabletLandscape) {
    max-width: 1000px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
}
