@import "../../../assets/scss/partials/extras";
@import "../../../assets/scss/partials/media_queries";

:host {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  max-width: $desktop;
  align-self: center;
}
.full-height-container {
  height: calc(100vh - $app-header-height - $app-navigation-bar-height - $app-margin * 2);
  display: flex;
  flex-direction: column;
}
@media (min-width: $tabletLandscape) {
  .headline { max-width: 1000px; }
}

mat-icon.scroll-icon {
  $size: 100px;
  height: $size;
  width: $size;
  font-size: $size;
}

.info-container {
  @media (min-width: $small) {
    width: 350px;
  }
  align-self: flex-end;
  text-align: right;
}

.submitted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-style: solid;
  border-top-width: 4px;
  border-radius: $app-border-radius;
  padding: $app-padding;
  gap: $app-gap;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.submitted-container.loading {
  border: 0;
}
.submitted-container mat-icon {
  $icon-size: 100px;
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
}
.submitted-container mat-progress-bar {
  position: absolute;
  top: 0;
}
.submitted-container .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: unset;
}

.bounce-top {
  -webkit-animation: bounce-top 2s linear infinite both;
  animation: bounce-top 2s linear infinite both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

