<!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
@if (loading()) {
  Loading Appointment Scheduling...
}

<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<!-- Google Calendar Appointment Scheduling begin -->
<iframe id="google-appointment-booking" frameborder="0"
        [src]="googleAppointmentIframeUrl | safe:'resourceUrl'"
        [class]="loading() ? 'hidden' : 'visible'"
        (load)="loading.set(false)"></iframe>
<!-- end Google Calendar Appointment Scheduling -->
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
