@import "src/assets/scss/partials/extras";
@import "src/assets/scss/partials/media_queries";
@import "src/assets/scss/partials/mixins";

:host {
  max-width: $desktop;
  align-self: center;
}

.card {
  padding: $app-spacing;
  gap: $app-spacing;
}

button.mini-fab-btn {
  padding: 0;
}

mat-card-title, mat-card-subtitle {
  margin: 0 !important;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
  @media (min-width: $tabletLandscape) {
    display: grid;
    grid-template-columns: 1fr 40%;
    mat-card.card.info div { max-width: 520px; }
  }
  @media (min-width: $desktop) {
    mat-card.card.info div { max-width: 75%; }
  }
}
.greeting-container .card.info button {
  padding: 1.5rem 2rem;
  border-radius: 2rem!important;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
  @media (min-width: $tabletLandscape) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.projects-container .project.card .subtitle {
  @include truncateText(2);
}
