<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<h1 mat-dialog-title>Select Image</h1>

<anon-file-manager mat-dialog-content [selection]="selectionModel()" />

<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button" color="warn">Cancel</button>

  <button mat-flat-button type="button" color="primary"
          [disabled]="!selectedFile()"
          (click)="onSelectImage()">
    Select {{selectedFile() ? selectedFile()?.name : 'File'}}
  </button>
</mat-dialog-actions>
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
