:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.user mat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.users mat-list mat-list-item {
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}
