<aj-auth-top-app-bar [title]="title" [loading]="loading"></aj-auth-top-app-bar>

<main class="page-padding">
  <h2 class="mat-headline-4">Welcome back</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput id="email" type="email" name="email" autocomplete="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" autocomplete="password" formControlName="password"
             [type]="hidePassword ? 'password' : 'text'" />
      <button mat-icon-button matSuffix type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="hidePassword ? 'Show' : 'Hide'+' Password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon [fontIcon]="hidePassword ? 'visibility_off' : 'visibility'"></mat-icon>
      </button>
    </mat-form-field>

    <div class="flex-row justify-content-end">
      <button mat-button color="accent" [routerLink]="[nav_path.forgotPassword]" type="button" [disabled]="loading">
        Forgot password?
      </button>
    </div>

    <button mat-flat-button color="primary" class="fab-btn-padding" type="submit" [disabled]="loading">Sign in</button>

    <button mat-stroked-button class="fab-btn-padding" (click)="auth.googleLogin()" type="button" [disabled]="loading">
      <span class="flex-row align-items-center gap-1">
        <img class="mat-icon" src="assets/imgs/g-logo.png" alt="Image of Google Icon with a white background"
             width="80" height="80" />
        Sign in with Google
      </span>
    </button>

    <p class="text-center">
      Don't have an account?
      <a mat-button color="accent" [routerLink]="[nav_path.signUp]" [disabled]="loading">Sign up</a>
    </p>
  </form>
</main>
