<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<section class="hero" [@fadeInOutStaggerAnimation]>
  <h1 class="title" [@fadeInOutAnimation]>{{heroTitle}}</h1>

  <p class="subtitle" [@fadeInOutAnimation]>{{heroSubtitle}}</p>

  <div class="contact" [@fadeInOutAnimation]>
      <span>
        <button mat-icon-button type="button"
                [routerLink]="[nav_path.contact]">
          <mat-icon fontIcon="my_location" color="accent"
                    class="material-icons-outlined" />
        </button>
        Based in {{location}}
      </span>

    <span>
        <a mat-icon-button type="button" [href]="'mailto:'+contactEmail">
          <mat-icon fontIcon="contact_mail" color="accent"
                    class="material-icons-outlined" />
        </a>
      {{contactEmail}}
      </span>
  </div>

  <div class="image" [@fadeInOutAnimation]>
    <svg data-image-mask-id="heroPictureClipPath" width="0" height="0">
      <defs>
        <clipPath id="topPillClipPath" clipPathUnits="objectBoundingBox">
          <path d="M0.495,0 A0.505,0.336,0,0,0,0,0.329 V1 H1 V0.329 A0.505,0.336,0,0,0,0.495,0" />
        </clipPath>
      </defs>
    </svg>
    <picture>
      <img fill priority
           alt="Photo of Aaron Jones smiling at the camera with a transparent background"
           ngSrc="assets/imgs/aaron_jones_transparent.webp" />
    </picture>
  </div>
</section>

<section class="featured-projects">
  <h3 class="mat-headline-5 text-center">Featured Projects</h3>
  <aj-carousel [loaded]="featuredProjectsLoaded()" [items]="carouselItems()" />
</section>

<section class="marquee">
  @defer (on viewport) {
    <aj-marquee [@fadeInOutAnimation]>
      @for (_ of [].constructor(6); track _) {
        <span class="mat-headline-3 m-0">See you soon &nbsp;</span>
      }
    </aj-marquee>
  } @placeholder (minimum 500ms) {
    <aj-marquee>
      @for (_ of [].constructor(6); track _) {
        <span class="mat-headline-3 m-0">
          <aj-skeleton [styles]="{width: generateRandomNumber(150, 350)+'px', height: '100px'}" /> &nbsp;
        </span>
      }
    </aj-marquee>
  }
</section>

<section class="book-appointment">
  @defer (on viewport) {
    <button mat-raised-button type="button" color="primary"
            [routerLink]="[navPath.bookAppointment]" [@fadeInOutAnimation]>
      <div class="flex-row align-items-center app-gap">
        <span>Book appointment</span>
        <mat-icon class="material-icons-outlined" fontIcon="event_upcoming" />
      </div>
    </button>
  } @placeholder (minimum 500ms) {
    <aj-skeleton [styles]="{height: '60px', width: '400px'}" />
  }
</section>
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
