<section class="not-found" [@slideInFromLeftAnimation]>
  <h1 class="title">Error</h1>

  <div class="circle">
    <span class="number-text">404</span>
  </div>

  <p class="text color">Page Not Found</p>
</section>

<p class="text" [@slideInFromRightAnimation]>
  We can't find the page you're looking for.
</p>

<div class="buttons-container" [@slideInFromBottomAnimation]>
  <button mat-stroked-button type="button" color="primary"
          [routerLink]="navPath.home">
    Take Me Home
  </button>
  <button mat-button type="button" color="primary"
          (click)="goBack()">
    Go Back
  </button>
</div>
