@import "src/assets/scss/partials/extras";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
}
.card img { cursor: pointer; }
.card .info-container {
  padding: $app-spacing;
}
.project-name {
  text-decoration: none;
  color: inherit;
}
.project-name:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}
