@if (comment) {
  <div class="flex-row app-gap">
    <aj-user-photo [image]="comment.author.image" />

    <div class="flex-grow">
      <div class="flex-row align-items-center justify-space-between">
        <div class="flex-col">
          <span class="truncate-text">{{comment.author.name ?? comment.user.id}}</span>
          <small>{{comment.created ? (comment.created.seconds * 1000 | dateAgo) : ''}}</small>
        </div>

        <button mat-icon-button type="button" [matMenuTriggerFor]="commentOptionsMenu">
          <mat-icon class="material-icons-outlined" fontIcon="more_vert" />
        </button>
        <mat-menu #commentOptionsMenu="matMenu">
          <button mat-menu-item type="button"
                  [disabled]="reported" (click)="onReport()">
            <mat-icon class="material-icons-outlined" fontIcon="flag" />{{reported ? 'Reported' : 'Report'}}
          </button>
        </mat-menu>
      </div>
      <p>{{comment.content}}</p>
      <div class="flex-row align-items-center">
        <button mat-icon-button type="button"
                [color]="likesComment ? 'primary' : undefined"
                (click)="onLikeComment()">
          <!-- fixme: find better way to fill material icons -->
          <mat-icon fontIcon="thumb_up"
                    [ngClass]="{'material-icons-outlined': !likesComment}" />
        </button>
        @if (comment.likes?.length) {
          <small>{{comment.likes?.length}}</small>
        }
        <button mat-icon-button type="button"
                [color]="dislikesComment ? 'primary' : undefined"
                (click)="onDislikeComment()">
          <mat-icon fontIcon="thumb_down"
                    [ngClass]="{'material-icons-outlined': !dislikesComment}" />
        </button>
        <!-- todo: add reply to comment feature-->
        <!--            <button mat-icon-button>-->
        <!--              <mat-icon class="material-icons-outlined" fontIcon="favorite_outline"></mat-icon>-->
        <!--            </button>-->
        <!--            <button mat-button>Reply</button>-->
      </div>
    </div>
  </div>
}

