@import "./assets/scss/default-theme";
@import "./assets/scss/partials/extras";
@import "./assets/scss/partials/_classes.scss";
@import "./assets/scss/partials/editor"; // Custom CKEditor Styles

/* Angular Material Default Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  letter-spacing: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  * { box-sizing: border-box; }
  ::-webkit-scrollbar {
    width: $scrollbar-track-width;
    height: $scrollbar-track-height;
  }
  ::-webkit-scrollbar-track { box-shadow: $scrollbar-track-box-shadow; }
  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-background-color;
    outline: $scrollbar-thumb-outline;
    border-radius: $scrollbar-thumb-border-radius;
  }
}

/* remove margin for headings */
h1, h2, h3, h4, h5, h6,
.mat-typography h1, .mat-typography h2,
.mat-typography h3, .mat-typography h4,
.mat-typography h5, .mat-typography h6 {
  margin: 0;
  font-weight: initial;
}

/* Update button shape */
button,
.mat-button, .mat-button-base, .mat-icon.button,
.mat-flat-button, .mat-raised-button,
.mat-stroked-button, .mat-fab, .mat-mini-fab,
.mdc-button, .mat-mdc-button, .mat-mdc-button-base,
.mat-mdc-icon-button, .mat-mdc-flat-button,
.mat-mdc-raised-button, .mat-mdc-stroked-button,
.mat-mdc-fab, .mat-mdc-mini-fab,
/* Update card shape */
.mat-card, .mat-mdc-card, .mdc-card,
/* Update image shape */
img,
/* Update dialog shape */
mat-dialog-container, .mat-mdc-dialog-container,
.mdc-dialog, .cdk-dialog-container, [role="dialog"] {
  border-radius: $app-border-radius !important;
  overflow: hidden;
}

button.fab-btn-padding {
  padding: 1.75rem 2rem;
  border-radius: calc(#{$app-border-radius} * 2) !important;
}

/* Added classes to help with autocompletion */
.material-icons-outlined {}
.material-icons-rounded {}
.material-icons-round {}

/** This section styles the picture element used for responsive images with fallbacks. */
picture {
  // Use "relative" for ngSrc.
  position: relative;
  // Uses a grid layout for image placement.
  display: grid;
  // Centers image content within the grid.
  place-content: center;
  border-radius: $app-border-radius;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    // Consider alternative options like "contain" or "fill".
    object-fit: cover;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}