<mat-chip-listbox aria-label="Filter selection"
                  (change)="onFilterChange($event)">
  @for (filter of ProjectsFilter | keyvalue: keepSameOrder; track filter.key) {
    <mat-chip-option [value]="filter.value"
                     [selected]="(filter$ | async) === filter.value">
      {{filter.value}}
    </mat-chip-option>
  }
</mat-chip-listbox>

<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<p class="filter-description">{{filterDescription()}}</p>

@if (isBrowser()) {
  @defer (when loaded()) {
    <ng-template [ngTemplateOutlet]="projectsTmpl" />
  } @placeholder (minimum 500ms) {
    <h3 class="mat-headline-6 text-center font-weight-normal">
      Loading projects...
    </h3>
  }
} @else {
  <ng-template [ngTemplateOutlet]="projectsTmpl" />
}

<ng-template #projectsTmpl>
  @if (projects().length) {
    <aj-projects-masonry-grid [projects]="projects()"
                              (shareProject)="onShare($event)" />
  } @else {
    <h3 class="mat-headline-6 text-center font-weight-normal">
      No
      @if ((filter$ | async) !== ProjectsFilter.ALL) {
        {{filter$ | async | lowercase}}
      }
      projects yet, check back soon.
    </h3>
  }
</ng-template>
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
