@import "../../../assets/scss/partials/extras";
@import "../../../assets/scss/partials/media_queries";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
}

.filter-description {
  padding: $app-padding;
}