<mat-chip-listbox aria-label="Filter selection"
                  (change)="onFilterChange($event)">
  @for (filter of ProjectsFilter | keyvalue: keepSameOrder; track filter.key) {
    <mat-chip-option [value]="filter.value"
                     [selected]="(filter$ | async) === filter.value">
      {{filter.value}}
    </mat-chip-option>
  }
</mat-chip-listbox>

<!-- eslint-disable @angular-eslint/template/no-call-expression -->
@defer (when loaded()) {
  <div class="flex-col app-gap projects-container"
       [@projectsListAnimation]="projects().length">
    @for (project of projects(); track project.id) {
      <mat-card class="card" [@projectAnimation]>
        @if (project.image) {
          <picture>
            <img mat-card-image priority
                 [routerLink]="[nav_path.projects, project.slug]"
                 [ngSrc]="project.image"
                 [alt]="project.name" [height]="300" [width]="400" />
          </picture>
        }

        <div class="info-container mat-body-1">
          <a class="mat-headline-5 m-0 project-name"
             [routerLink]="[nav_path.projects, project.slug]">{{project.name}}</a>
          <p class="mat-body-1 m-0">{{project.description}}</p>
          @if (project.tags?.length) {
            <mat-chip-set role="list">
              @for (tag of project.tags; track tag) {
                <mat-chip role="listitem">{{tag}}</mat-chip>
              }
            </mat-chip-set>
          }

          <mat-divider />

          <mat-card-actions class="actions-container">
            @if (project.allowComments) {
              <button mat-button type="button" color="primary" fragment="comments"
                      [routerLink]="[nav_path.projects, project.slug]">
                <mat-icon class="material-icons-outlined" fontIcon="comment_bank" /> Comments
              </button>
            } @else {
              <button mat-button type="button" color="primary"
                      [routerLink]="[nav_path.projects, project.slug]">View</button>
            }

            <button mat-flat-button type="button" color="primary" (click)="onShare(project)">
              <mat-icon class="material-icons-outlined" fontIcon="share" /> Share
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    } @empty {
      <h3 class="mat-headline-5 text-center">
        No
        @if ((filter$ | async) !== ProjectsFilter.ALL) {
          {{filter$ | async | lowercase}}
        }
        projects yet, check back soon.</h3>
    }
  </div>
} @placeholder (minimum 500ms) {
  <div class="flex-col app-gap projects-container">
    @for (p of placeholders; track p) {
      <mat-card class="card">
        <picture>
          <aj-skeleton [styles]="{width: '600px', height: '300px'}" />
        </picture>
        <div class="info-container mat-body-1">
          <aj-skeleton class="project-name" />
          <aj-skeleton />

          <div class="flex-row app-gap">
            <aj-skeleton [styles]="{width: '50px'}" />
            <aj-skeleton [styles]="{width: '50px'}" />
          </div>

          <mat-divider />

          <mat-card-actions class="actions-container">
            <aj-skeleton [styles]="{width: '100px', height: '30px'}" />

            <aj-skeleton [styles]="{width: '100px', height: '30px'}" />
          </mat-card-actions>
        </div>
      </mat-card>
    }
  </div>
} @error {
  <aj-loading-or-error [error]="error()" />
}
<!-- eslint-enable @angular-eslint/template/no-call-expression -->
