@import "../../../assets/scss/partials/extras";
@import "../../../assets/scss/partials/media_queries";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-description {
  padding: $app-padding;
}