<section class="header">
  <div class="select-container">
    <mat-checkbox (change)="selectAll($event.checked)"
                  [indeterminate]="someSelected"
                  [checked]="allSelected"></mat-checkbox>

    <span *ngIf="!selectionModel.isEmpty()">{{selectionModel.selected.length}}</span>

    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #selectMenu="matMenu">
      <button *ngIf="!allSelected" mat-menu-item (click)="selectAll(true)">
        Select all projects on this page
      </button>
      <button *ngIf="!selectionModel.isEmpty()" mat-menu-item (click)="selectAll(false)">
        Deselect all
      </button>
    </mat-menu>
  </div>

  <button mat-stroked-button *ngIf="!selectionModel.isEmpty()"
          [disabled]="selectionModel.isEmpty() || loading" (click)="deleteSelectedProjects()">Delete</button>
  <button mat-stroked-button *ngIf="!selectionModel.isEmpty() && allDraftsSelected()"
          [disabled]="selectionModel.isEmpty() || !allDraftsSelected() || loading"
          (click)="publishSelectedProjects()">Publish</button>
</section>
<section class="products">
  <figure *ngFor="let project of projects" class="project" [ngClass]="{'selected': selectionModel.isSelected(project)}">
    <div class="details" [routerLink]="[nav_path.adminProjects, project.id, 'edit']">
      <picture>
        <img [src]="project?.image ?? 'https://via.placeholder.com/1200'" [alt]="project.name" />
      </picture>
      <h3 class="text-ellipsis">{{project.name}}</h3>
      <p class="text-ellipsis">{{project.description}}</p>
      <p *ngIf="project.status != 'published'" class="unpublished">
        <mat-icon fontIcon="public_off"></mat-icon>
        &nbsp;<em>Unpublished</em>
      </p>
    </div>
    <div class="actions">
      <mat-checkbox [checked]="selectionModel.isSelected(project)"
                    (change)="selectionModel.toggle(project)"
                    [disabled]="loading"></mat-checkbox>
      <button mat-icon-button
              (click)="updateFeaturedProject(project.id, !project.featured)"
              [disabled]="loading" [matTooltip]="(project.featured ? 'Unfeature' : 'Feature')+' this project'" [matTooltipShowDelay]="500">
        <mat-icon [color]="project.featured ? 'accent' : undefined">
          {{project.featured ? 'star' : 'star_outline'}}
        </mat-icon>
      </button>
      <button mat-icon-button [disabled]="loading" [matMenuTriggerFor]="projectSettings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #projectSettings="matMenu">
        <button mat-menu-item [routerLink]="[nav_path.adminProjects, project.id, 'edit']">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item *ngIf="project.status != 'published'" (click)="publishProject(project.id)">
          <mat-icon>public</mat-icon>
          <span>Publish</span>
        </button>
        <button mat-menu-item [routerLink]="[]">
          <mat-icon>store</mat-icon>
          <span>View in shop</span>
        </button>
        <button mat-menu-item (click)="deleteProject(project.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </figure>
</section>
