@import "../../../../../../assets/scss/partials/extras";
@import "../../../../../../assets/scss/partials/media_queries";

:host {
  display: flex;
  flex-direction: column;
  gap: $app-gap;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tabletPortrait) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  gap: $app-gap;
}
.header picture {
  $image-size: 100px;
  @media (min-width: $tabletLandscape) {
    $new-image-size: 150px;
    min-width: $new-image-size;
    width: $new-image-size;
    height: $new-image-size;
  }
  min-width: $image-size;
  width: $image-size;
  height: $image-size;
  img { object-fit: contain; }
}
.header .content {
  flex: 1
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
